@import '../../styles/mixins';

.container {
  background: white;
  max-width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

.img {
  max-width: 100%;
}

