/* autoprefixer grid: autoplace */
@import '../../styles/mixins';

.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

@include for-tablet() {
  .container {
    grid-template-columns: repeat(3, 33.3%);
  }
}

@include for-desktop() {
  .container {
    grid-template-columns: repeat(4, 25%);
  }
}
