@import "styles/mixins";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ececec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

.container {
  margin: 0.5rem;
}

@include for-tablet() {
  .container {
    margin: 1rem;
  }
}

@include for-desktop() {
  .container {
    max-width: 1280px;
  }
}
